.main {
  background-color: #ffffff;
  height: 91vh;
}

.col-md-7 {
  margin-top: 4vh;
}

button {
  width: 100%;
}

a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

h4 {
  text-align: center;
}
