<div class="d-flex flex-column flex-shrink-0 p-3 text-black bg-light"
     style="height: 100%; background-color: #E8F0FE !important;">
  <ul class="ul-item nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/pos" routerLinkActive="active">
        Purchase of stamps
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/po" routerLinkActive="active">
        Public Order
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/fad" routerLinkActive="active">
        Fees and disbursements
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/sys" routerLinkActive="active">
        Synthetic statements
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/vat" routerLinkActive="active">
        VAT/IR
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/lr" routerLinkActive="active">
        Land Royalty
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/rec" routerLinkActive="active">
        Real estate changes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/ja" routerLinkActive="active">
        Judicial acts
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black" routerLink="/st" routerLinkActive="active">
        State taxes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black">
        Green card renewal
<!--        GREEN CARD RENEWAL DECLARATION-->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black">
        Forest Charges
<!--        DECLARATION OF FOREST TAXES-->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black">
       Registration of deeds
<!--        REGISTRATION OF DEEDS-->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black">
        Import of vehicles
<!--        VEHICLE IMPORT DECLARATION-->
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-black">
        Sales of vehicles
<!--        DECLARATION OF VEHICLE SALE-->
      </a>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1"
       data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong>mdo</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i>Profile</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" (click)="logOut()"><i class="fa-solid fa-arrow-left-long-to-line"></i>logout</a></li>
    </ul>
  </div>
</div>
